body {
  padding-top: 70px;
  background-color: #F2F2F2;
}

.form-bgcontext {
  
  max-width:585px;
  margin:0 auto;
  background-color: #fff;
}


.form-bgcontext .form-rpass {

  max-width:300px;
  margin:0 auto;
  padding: 15px 15px 30px 15px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-bgcontext .form-rpass .form-rpass-heading {
    width:320px;
    font-size: 28px;
    font-weight: 200;
    color: #66757f;
    margin-bottom: 20px;
}
.form-bgcontext .form-rpass .form-control {
    font-size: 16px;
}


  