<div class="form-bgcontext" data-ng-controller="LoginCtrl">
    <form name="form" class="form-login" novalidate ng-submit="loginSubmit($event)">
        <h2 class="form-login-heading">Log in to UMT</h2>
        <div class="form-group" ng-class="{ 'has-error': form.uEmail.$touched && form.uEmail.$invalid }">
            <label>Email address</label>
            <input type="email" ng-model="user.email" name="uEmail" class="form-control" placeholder="Email" required="">
        </div>
        <div class="errorMessage" ng-messages="form.uEmail.$error" ng-show="form.uEmail.$touched">
            <div ng-messages-include="app/account/messages.html"></div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.uPass.$touched && form.uPass.$invalid }">
            <label>Password</label>
            <input type="password" ng-model="user.password" ng-minlength="5" ng-maxlength="8" name="uPass" class="form-control" placeholder="Password" required>
        </div>
        <div class="errorMessage" ng-messages="form.uPass.$error" ng-show="form.uPass.$touched">
            <div ng-messages-include="app/account/messages.html"></div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Log in</button>
        <div class="checkbox">
            <div class="col-md-6 checkbox-align">
                <label>
                    <input type="checkbox"> Remember me</label>
            </div>
            <div class="col-md-6 checkbox-align">
                <a class="forgot" data-ui-sref="forgetPassword">Forgot password?</a>
            </div>
        </div>
    </form>
</div>
