<div data-ng-controller="NavbarCtrl">
    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" data-ng-click="onNavbarMenuToggleClick()">
                    <span class="glyphicon glyphicon-menu-hamburger navbar-hamburger-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <button class="btn btn-default navbar-btn pull-right" data-ui-sref="login">Sign in</button>
            </div>
        </div>
    </nav>
    <!-- Side Menu -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" data-ng-class="{'active':isNavbarActive}">
                <div class="list-group">
                    <a href="#" class="list-group-item active list-group-umt" data-ui-sref="createAccount
">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="sidebar-align-listgroup-text">Create Account</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
