
<div data-ng-controller="NavbarCtrl">

<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" data-ng-click="onNavbarMenuToggleClick()">
        <span class="glyphicon glyphicon-menu-hamburger navbar-hamburger-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>

<!-- Side Menu -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" data-ng-class="sidebarHideShow">
        <div class="list-group">
          <a href="#" class="list-group-item active list-group-umt"> 
            <span class="glyphicon glyphicon-user"></span>
            <span class="sidebar-align-listgroup-text"> My Profile</span>
          </a>
          <a href="#" class="list-group-item list-group-umt">
            <span class="glyphicon glyphicon-cog"></span> 
            <span class="sidebar-align-listgroup-text">Settings</span>
          </a>
          <a href="#" class="list-group-item list-group-umt">
            <span class="glyphicon glyphicon-signal"></span>
            <span class="sidebar-align-listgroup-text">Analytics</span>
          </a>
          <a href="#" class="list-group-item list-group-umt">
            <span class="glyphicon glyphicon-file"></span>
            <span class="sidebar-align-listgroup-text">Reports</span>
          </a>
          <a href="#" class="list-group-item list-group-umt">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span class="sidebar-align-listgroup-text">Help</span>
          </a>
        </div>
    </div>
  </div>
</div>  


</div>

